.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.readings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}